<ion-view class="itemView" hide-nav-bar="true">
	<ion-content>
		<h1 class="text-center">Rules</h1>
		<div class="list card">
			<div class="row item item-divider text-center">
				<div class="col">Move</div>
				<div class="col">Kills</div>
			</div>
			<div class="item row text-center" ng-repeat="moveRule in rules.moves" style="height:65px">
				<div class="col">
					{{ moveRule.move }}
				</div>
				<div class="col">
					{{ moveRule.kills }}
				</div>
				<div class="col" style="padding:0;">
					<div class="row">
						<button class="col button button-positive" ng-click="editRule(moveRule)" style="margin-left: 5px;height:50px;">
							<i class="icon ion-edit"></i>
						</button>
						<button class="col button button-assertive" ng-click="deleteRule(moveRule)" style="margin-left: 5px;height:50px;">
							<i class="icon ion-trash-a"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="padding">
			<button class="button button-block button-balanced" ng-click="addRule()">
				Add rule
			</button>
		</div>
	</ion-content>
</ion-view>